In [ ]:
# mounting the drive

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#importing statsmodel to import OLS model

In [3]:
import pandas as pd
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
#reading the csv file

In [4]:
df = pd.read_csv("/content/drive/MyDrive/0.MKCE/Datasets/restaurants.csv")

In [5]:
df

   Restaurant_ID  Food_Quality  Service_Quality  Price
0            ADS            22               20     43
1            BLG            20               19     32
2            CMK            21               18     34
3            KLS            20               17     41
4            IOS            24               21     54
5            UWO            22               21     52
6            USL            22               21     34
7            UKS            20               21     34
8            PLE            22               22     39
9            HEL            21               19     44
10           HQP            19               20     45
11           QUS            21               21     47
12           PLE            21               20     52
13           YWL            19               19     35
14           GQL            20               21     47
15           PEL            21               21     37
16           TLS            22               23     45
17           NSL            24               22     57
18           NBS            19               18     38
19           ORL            22               22     51
20           PLE            23               23     54
21           QIO            23               21     51
22           LEP            20               18     38
23           TLD            22               21     49
24           FPL            22               22     45
25           UID            19               19     37
26           PLQ            22               22     50
27           ALP            20               18     43
28           SLR            22               20     49
29           ULA            21               20     65
30           UEP            20               18     34
31           MLA            21               18     51
32           LMD            20               19     49
33           UWL            23               23     51

In [14]:
# taking product quality and service quality as independent variable
# taking price as target

In [36]:
X = df.iloc[:,1:3]
print(X)
Y = df['Price']
print(Y)

    Food_Quality  Service_Quality
0             22               20
1             20               19
2             21               18
3             20               17
4             24               21
5             22               21
6             22               21
7             20               21
8             22               22
9             21               19
10            19               20
11            21               21
12            21               20
13            19               19
14            20               21
15            21               21
16            22               23
17            24               22
18            19               18
19            22               22
20            23               23
21            23               21
22            20               18
23            22               21
24            22               22
25            19               19
26            22               22
27            20               18
28            22               20
29            21               20
30            20               18
31            21               18
32            20               19
33            23               23
0     43
1     32
2     34
3     41
4     54
5     52
6     34
7     34
8     39
9     44
10    45
11    47
12    52
13    35
14    47
15    37
16    45
17    57
18    38
19    51
20    54
21    51
22    38
23    49
24    45
25    37
26    50
27    43
28    49
29    65
30    34
31    51
32    49
33    51
Name: Price, dtype: int64

In [37]:
# adding constant to the independent variable by using add_constant
# fitting the ols model from statsmodels to y and x

In [38]:
X = sm.add_constant(X)

model = sm.OLS(Y, X).fit()

/usr/local/lib/python3.7/dist-packages/statsmodels/tsa/tsatools.py:117: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [39]:
# getting the total summary of model
# from below we can understand that the regression equation will be
# y=0.2661(service_quality)+3.0272(food_quality)-24.5782

In [40]:
summary = model.summary()
print(summary)

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.323
Model:                            OLS   Adj. R-squared:                  0.279
Method:                 Least Squares   F-statistic:                     7.392
Date:                Fri, 27 May 2022   Prob (F-statistic):            0.00237
Time:                        18:21:20   Log-Likelihood:                -111.46
No. Observations:                  34   AIC:                             228.9
Df Residuals:                      31   BIC:                             233.5
Df Model:                           2
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const             -24.5782     18.147     -1.354      0.185     -61.589      12.433
Food_Quality        3.0272      1.172      2.584      0.015       0.638       5.417
Service_Quality     0.2661      0.968      0.275      0.785      -1.709       2.241
==============================================================================
Omnibus:                        5.779   Durbin-Watson:                   1.820
Prob(Omnibus):                  0.056   Jarque-Bera (JB):                4.898
Skew:                           0.513   Prob(JB):                       0.0864
Kurtosis:                       4.550   Cond. No.                         463.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [41]:
sm.stats.linear_rainbow(model)

(3.7866971952540425, 0.0077876182464610465)

In [ ]:
# gives the parameters in regression equation

In [42]:
model.params

const             -24.578212
Food_Quality        3.027235
Service_Quality     0.266061
dtype: float64

In [44]:
# rsquared used to show how the predicted target variable is varies form original target

In [45]:
model.rsquared

0.322919793241206